# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Datos pesados de Scryfall / bulk downloads
services/scrapper/bulk-data/
services/scrapper/copias-seguridad-data/
services/scrapper/*.json